:root{
--Black:#242424;
--black2:#5A464c;
--white:#f3f3f3;
--rojoSJB:#ff6961;
/* fuentes */
--font1:'Zilla Slab', serif;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font1);
    background-color: var(--white);
    position: relative;
}
/* Contenedor de contenedores */
.contenedor__general{
    width: 360px;
    display: none;
    margin: 5px auto;
    height: min-content;
   
   
}
.contenedor__encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--Black);
    
}
.contenedor__juego{
    /* AYUDA VISUAL */
    
    display: flex;
    margin: 5px 0;
    padding: 5px 0;
    flex-direction: column;
    margin-top: 30px;
}
.fila{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    gap: 5px;
}
.cuadrado{
    font-family:var(--font1);
    font-weight:600;
    text-transform: uppercase;
    width: 45px;
    height: 45px;
    outline:none;
    font-size: 20PX;
    text-align: center;
    background-color: #797777;
    color: white;
    border: none;
    border-radius: 4px;
    
}
.cargando{
    position: absolute;
    background-color: var(--white);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img__cargando{
    width: 330px;
    z-index: 20;
}

.contenedor__resultado{
    
    text-align: center;
    font-size: 30PX;
    font-weight: 500;
}
.contenedor__resultado .boton{
    width: 150px;
    height: 40px;
    background-color: var(--rojoSJB);
    font-family: var(--font1);
    font-size: 15PX;
    border-radius:10px;
    font-weight: 500;
    color: white;
    transition: transform 0.5s;
    cursor: pointer;
}
/* Clases:colores del juego */

.plomo{
    background-color: #797777;
}

.dorado{
    background-color: #D1E338;
    color: white;
}
.verde{
    background-color: #57A639;
    color: white;
}







